@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
	font-family: 'FonteLogo';
	src: url("../_fonts/bubblegum-sans-regular.otf");
}

h3 {
	text-align: center;
}
p {
	text-align: justify;
	text-indent: 50px;
}

header{
	position: relative;
	width: 100%;
	background-position: 50% 50%;
	background-size: 100% 100%;
	background-color: rgba(0,0,0,.5);
}

div#interface {
	width: 1000px;	
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px;
}

div#interface img#imgrod {
	width: 100%;
	height: 150px;	
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border-top:2px #606060 solid;
	margin-top: 10px;
}
div#interface img#imglogomarca {
	width: 100%;
	height: 300px;	
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	border-top:2px #606060 solid;
}
div#lateral {
	display: block;
	width: 31%;
	float: right;	
	padding-right: 10px;
	background-color: #FAF0E6;
	margin-top: -12px;
}

aside#conteudo {
	display: block;
	width: 68%;
	float: left;
	background-color: #F5DEB3;
	padding: 10px;
	margin-top: -12px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
aside#conteudo h1 {
	font-family: 'FonteLogo', sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-top: 0px;
}
aside#conteudo h2 {
	background-color: #606060;
	font-size: 13pt;
	color: #ffffff;
	padding: 5px;

}

footer#rodape {
	font-size: 13pt;
	color: #ffffff;
	clear: both;
	border-top: 1px solid #606060;

}


/*formatação da galeria de Pulseiras*/


.galeria-pulseiras {
    background-color: #000;
    border-left: 1px solid #292b2c;
    border-right: 1px solid #292b2c;
    border-bottom: 1px solid #292b2c;
    padding: 0 5px 25px;
    overflow: hidden;
}

* {
    outline: none !important;
}

/*Formatação do formularios fale conosco*/


form {
	width: 500;
	margin: auto;
}

input, textarea {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 13pt;
	background-color: rgba(255,255,255,.8);
}

input:hover, textarea:hover {
	background-color: #dddddd;
}
legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}
fieldset {
	border-color: #cecece;
	margin: 20px;
}
fieldset#sexo{
	width: 150px;
}
fieldset#usuario {
	background: url("../_imagens/icone-contato.png") no-repeat 90% 95%;
}
fieldset#endereco {
	background: url("../_imagens/icone-endereco.png") no-repeat 90% 95%;
}
fieldset#mensagem {
	background: url("../_imagens/icone-mensagem.png") no-repeat 90% 95%;
}
fieldset#pedido {
	background: url("../_imagens/icone-pagamento.png") no-repeat 90% 95%;
}